services:
  nginx:
    image: nginx:1.28
    container_name: nginx
    ports:
      - "127.0.0.1:8082:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./projects/www:/var/www/html
    networks:
      - develop-network
    depends_on:
      - php
    restart: always
  
  php:
    build: ./docker/php
    container_name: php
    volumes:
      - ./projects/www:/var/www/html
    environment:
      - DB_HOST=mysql
      - DB_USER=php_user
      - DB_PASSWORD=php_pass
      - DB_NAME=php_db
    networks:
      - develop-network
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:9.2
    container_name: mysql
    environment:
      MYSQL_ROOT_HOST: "mysql"
      MYSQL_ROOT_PASSWORD: root_pass
      MYSQL_DATABASE: php_db
      MYSQL_USER: php_user
      MYSQL_PASSWORD: php_pass
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - develop-network
    restart: always

  phpmyadmin:
    image: phpmyadmin:5.2.3
    container_name: phpmyadmin
    ports:
      - "127.0.0.1:8081:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root_pass
    networks:
      - develop-network
    depends_on:
      - mysql
    restart: always
    
volumes:
  mysql_data:
    external: true

networks:
  develop-network:
    driver: bridge
